/* Style for all body elements */
body {
    background-color: blueviolet;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/* Header */
 body, header {
    font-weight: 400;
    font-family: fantasy;
    color: black;
}

/* Style for question boxes */
.q-box {
    background-color: white;
    max-width: 500px;
    width: 80%;
    margin: 100px auto 0;
    border-radius: 5px;
    padding: 20px;
}
/* Style for buttons */
.btn {
    background-color: white;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    width: 100%;
    border: 5px solid #000;
    cursor: pointer;
}

/* Button hover style */
.btn:hover {
    background-color: blueviolet;
}
/* Next button style */
#next {
    background-color: white;
    color: hsl(252, 54%, 61%);
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    border: 5px solid #000;
    cursor: pointer;
}

/* Style for when user answers questions right or wrong */
.correct {
    background-color: #7cc558;
}


.incorrect {
    background-color: #ff0000;
}

/* Timer below quiz section style */
#timer {
    font-weight: 400;
    font-style: italic;
    font-family: fantasy;
    color: #ff0000;
}

/* Score style */
#score {
    font-weight: 400;
    font-style: italic;
    font-family: fantasy;
    color: #7cc558;
}

/* Restart button style */
.restart-btn {
    background-color: white;
    color: hsl(252, 54%, 61%);
    padding: 10px;
    width: 90px;
    border-radius: 10px;
    border: 5px solid #000;
    cursor: pointer;
}

/* footer */
footer {
    margin-top: auto;
    display: flex;
    width: 100%;
    display: block;
  }

.heading {
    text-align: center;
    font-size: 50px;
    color: #000;
    margin-bottom: 50px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: whitesmoke;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
}

input {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    color: #fff;
}

.start-btn {
    background-color: white;
    color: hsl(252, 54%, 61%);
    padding: 10px;
    width: 90px;
    border-radius: 10px;
    border: 5px solid #000;
    cursor: pointer;
}